.row
  .col-lg-10
    .ibox.float-e-margins
      .ibox-title
        %h3
          Here is all your relevant info
      .ibox-content
        %h1 Acaemdics

        %h3
          %strong Academics in our database:
          = @academics ? @academics.count : 0

        %h3
          %strong Check Variations in our database:
          = @checked_variations ? @checked_variations.count : 0

        %hr
        .row.mt100
          .text-center
            = link_to "Get Some Adademics", academics_path(api_request: "on"), class: "btn btn-warning"

      - if @start
        .row.mt50.ml20
          %h1 Results from this run
          %h2= "Searched from position #{@start} to #{@stop}."
          %h2= "#{@entries_this_run} records found in UT of A directroy."
          %h2= "#{@created} records saved to local database."
          %h2= "#{@not_created} SKIPPED records saved to local database."
          %h2= "Variations searched: #{@variations}}"
