%nav.navbar-default.navbar-static-side{:role => "navigation"}
  .sidebar-collapse
    %ul#side-menu.nav
      %li.nav-header
        .dropdown.profile-element
          %h2
            = link_to "#{project_name}", user_path(current_user)
          %span
            %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
              %span.clear
                %span.block.m-t-xs
                  %strong.font-bold
                    = link_to current_user.first_name.capitalize, edit_user_path(current_user)
            %ul.dropdown-menu.animated.fadeInRight.m-t-xs
              %li
                %a{:href => "login.html"} Logout
        .logo-element
          IN+
      %li{:class => ("active" if current_page?(user_path(current_user)))}
        %a{:href => "#{user_path(current_user)}"}
          %i.fa.fa-dashboard.fa-2x
          %span.nav-label My Dashboard

      -# Don't have any subscriptions right now
      -# This is crasy talk
      -# %li{:class => ("active" if current_page?(new_user_subscription_path(current_user)) || (current_user.subscription && current_page?(edit_user_subscription_path(current_user, current_user.subscription))) )}
      -#   = link_to current_user.valid_subscription? ? edit_user_subscription_path(current_user, current_user.subscription) : new_user_subscription_path(current_user), onclick: "ga('send', 'event', 'link', 'clicked', 'sidebar subscriptions link', '3')" do
      -#     %i.fa.fa-shopping-cart.fa-2x
      -#     %span.nav-label Subscriptions

      %li{:class => ("active" if current_page?(users_path))}
        %a{:href => "#{students_path}"}
          %i.fa.fa-university.fa-2x
          %span.nav-label Find Academics

      - if current_user.admin?
        %li{:class => ("active" if current_page?(users_path))}
          %a{:href => "#{users_path}"}
            %i.fa.fa-user.fa-2x
            %span.nav-label Find Users

      %li
        = link_to session_path(current_user), method: :delete, onclick: "ga('send', 'event', 'link', 'clicked', 'sidebar signout link', '3')" do
          %i.fa.fa-sign-out.fa-2x
          %span.nav-label Sign Out
